@page
@model RecruitingStaff.WebApp.Pages.User.Questionnaires.AnswersOnQuestionModel
@{
    ViewData["Title"] = Model.Question.Name;
}
<div class="row justify-content-center">
    <div class="col-9">
        <div class="d-flex w-100 mb-3 justify-content-between">
            <h4>@Model.Question.Name</h4>
            <div>
                <a class="btn btn-dark"
                   asp-page="ConcreteQuestionnaire"
                   asp-route-questionnaireId="@Model.QuestionnaireId">
                    Анкета
                </a>
                <a class="btn btn-primary" asp-page="AnswerForm"
                   asp-route-questionId="@Model.Question.Id"
                   asp-route-questionnaireId="@Model.QuestionnaireId">Добавить ответ</a>
            </div>
        </div>
    </div>
    <div class="col-10">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Ответы</th>
                    <th>Оценки</th>
                    <th>Комментарий</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var answer in Model.Answers)
                {
                    <tr>
                        <td>@answer.Name</td>
                        <td>@answer.Estimation</td>
                        <td>@answer.Comment</td>
                        <td>
                            <a class="btn btn-info ml-2 mb-2"
                               asp-page="AnswerAuthor"
                               asp-route-candidateId="@answer.CandidateId"
                               asp-route-questionId="@answer.QuestionId"
                               asp-route-questionnaireId="@Model.QuestionnaireId">
                                Автор ответа
                            </a>
                            <a class="btn btn-warning ml-2 mb-2"
                               asp-page="AnswerForm"
                               asp-route-answerId="@answer.Id">
                                Изменить
                            </a>
                            <form class="d-inline" method="post">
                                <input type="hidden" name="questionnaireId" value="@Model.QuestionnaireId" />
                                <input type="hidden" name="questionId" value="@Model.Question.Id" />
                                <input type="hidden" name="answerId" value="@answer.Id" />
                                <button class="btn btn-danger ml-2 mb-2">Удалить</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>