@page
@model RecruitingStaff.WebApp.Pages.User.Questionnaires.AnswerAuthorModel
@{
}
<div class="row justify-content-start">
    <div class="col-12">
        <div class="d-flex w-100 mb-3 justify-content-between">
            <h2>@Model.Candidate.Name</h2>
            <div>
                <a class="btn btn-dark"
                   asp-page="AnswersOnQuestion"
                   asp-route-questionId="@Model.QuestionId"
                   asp-route-questionnaireId="@Model.QuestionnaireId">Ответы на вопрос</a>
            </div>
        </div>
    </div>
    <div class="col-6 mt-4">
        <p>Id: @Model.Candidate.Id</p>
        <p>Дата рождения: @Model.Candidate.DateOfBirth.ToString("D")</p>
        <p>Адрес места жительства: @Model.Candidate.Address</p>
        <p>Номер телефона: @Model.Candidate.TelephoneNumber</p>
        <p>Семейное положение: @Model.Candidate.MaritalStatus</p>
    </div>
    <img class="col-5"
         src="/img/@Model.CandidatePhotoSource"
         alt="Фото" />
</div>
<div class="row justify-content-start mt-5">
    <div class="col-12">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th><h5>Имя свойства</h5></th>
                    <th><h5>Значение свойства</h5></th>
                    <th>
                        <a class="btn btn-outline-dark font-weight-normal"
                           asp-page="/User/Candidates/OptionForm"
                           asp-route-CandidateId="@Model.Candidate.Id">
                            Добавить
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var option in Model.Options)
                {
                    <tr>
                        <td>@option.Name</td>
                        <td>@option.Value</td>
                        <td>
                            @if (option.Value.Count() > 30)
                            {
                                <a class="btn btn-dark m-2"
                                   asp-page="/User/Questionnaires/OptionForm"
                                   asp-route-propertyName="@option.Name"
                                   asp-route-candidateId="@option.CandidateId"
                                   asp-route-questionId="@Model.QuestionId">
                                    Изменить
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-dark m-2"
                                   asp-page="/User/Candidates/OptionForm"
                                   asp-route-propertyName="@option.Name"
                                   asp-route-candidateId="@option.CandidateId"
                                   asp-route-questionId="@Model.QuestionId"
                                   asp-route-value="@option.Value">
                                    Изменить
                                </a>
                            }
                            <form class="d-inline" method="post">
                                <input type="hidden" name="questionId" value="@Model.QuestionId" />
                                <input type="hidden" name="candidateId" value="@Model.Candidate.Id" />
                                <input type="hidden" name="optionId" value="@option.Id" />
                                <input type="hidden" name="questionnaireId" value="@Model.QuestionnaireId" />
                                <button class="btn btn-danger m-2">Удалить</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>