@page
@model RecruitingStaff.WebApp.Pages.User.Questionnaires.AnswersOnQuestionModel
@{
    ViewData["Title"] = Model.Question.Name;
}
<div class="row justify-content-center">
    <div class="col-9">
        <div class="d-flex w-100 mb-3 justify-content-between">
            <h4>@Model.Question.Name</h4>
            <div>
                <a class="btn btn-primary" asp-page="AnswerForm" asp-route-questionId="@Model.Question.Id">Добавить ответ</a>
                <a class="btn btn-dark" asp-page="ConcreteQuestionCategory" asp-route-questionCategoryId="@Model.Question.QuestionCategoryId">Вопросы</a>
            </div>
        </div>
    </div>
    <div class="col-10">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Ответы</th>
                    <th>Оценки</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var answer in Model.Answers)
                {
                    <tr>
                        <td>@answer.Comment</td>
                        <td>@answer.Estimation</td>
                        <td>
                            <a asp-page="AnswerAuthor"
                               asp-route-candidateId="@answer.CandidateId"
                               asp-route-questionId="@answer.QuestionId"
                               class="btn btn-info">
                                Автор ответа
                            </a>
                            <a class="btn btn-warning"
                               asp-page="AnswerForm"
                               asp-route-answerId="@answer.Id">
                                Изменить
                            </a>
                            <form method="post">
                                <input type="hidden" name="questionId" value="@Model.Question.Id" />
                                <input type="hidden" name="answerId" value="@answer.Id" />
                                <button class="btn btn-danger">Удалить</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>