@page
@model RecruitingStaff.WebApp.Pages.User.Questionnaires.CandidatesModel
@{
    ViewData["Title"] = "Кандидаты участвующие в опросе";
}
<div class="row justify-content-center mb-3">
    <a class="btn btn-dark m-2" asp-page="Questionnaires">Анкеты</a>
    <a class="btn btn-dark m-2" asp-page="CreateCandidateByQuestionnaire" asp-route-questionnaireId="@Model.QuestionnaireId">Создать кандидата участвующего в опросе</a>
</div>
<div class="row justify-content-center">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col"><h5>Id</h5></th>
                <th scope="col"><h5>Полное имя</h5></th>
                <th scope="col"><h5>Дата рождения</h5></th>
                <th scope="col"><h5>Адрес</h5></th>
                <th scope="col"><h5>Номер телефона</h5></th>
                <th scope="col"><h5>Семейное положение</h5></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var candidate in Model.Candidates)
            {
                <tr>
                    <th scope="row">@candidate.Id</th>
                    <td>@candidate.Name</td>
                    <td>@candidate.DateOfBirth.ToString("d")</td>
                    <td>@candidate.Address</td>
                    <td>@candidate.TelephoneNumber</td>
                    <td>@candidate.MaritalStatus</td>
                    <td>
                        <a class="btn btn-dark d-block" asp-page="/User/Candidates/ConcreteCandidate" asp-route-CandidateId="@candidate.Id">Перейти</a>
                        <form class="d-inline" method="post">
                            <input type="hidden" name="candidateId" value="@candidate.Id" />
                            <input type="hidden" name="questionnaireId" value="@Model.QuestionnaireId" />
                            <button class="btn btn-danger text-white d-block mt-3">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>