@page
@model RecruitingStaff.WebApp.Pages.User.Questionnaires.ConcreteQuestionnaireModel
@{
    ViewData["Title"] = Model.QuestionnaireViewModel.Name;
}
<div class="row justify-content-center mb-3">
    <a class="btn btn-success"
       asp-page="QuestionCategoryForm"
       asp-route-questionnaireId="@Model.QuestionnaireViewModel.Id">
        Добавить категорию
    </a>
</div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Категория/Вопрос</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var questionCategory in Model.QuestionCategoryViewModels)
        {
            <tr>
                <th>@questionCategory.Id</th>
                <th>@questionCategory.Name</th>
                <th>
                    <a class="btn btn-success"
                       asp-page="QuestionForm"
                       asp-route-questionCategoryId="@questionCategory.Id"
                       asp-route-questionnaireId="@Model.QuestionnaireViewModel.Id">
                        Добавить вопрос
                    </a>
                    <a class="btn btn-warning"
                       asp-page="QuestionCategoryForm"
                       asp-route-questionCategoryId="@questionCategory.Id">Изменить</a>
                    <form class="d-inline" method="post" asp-page-handler="RemoveQuestionCategory">
                        <input type="hidden" name="questionnaireId" value="@Model.QuestionnaireViewModel.Id" />
                        <input type="hidden" name="questionnaireName" value="@Model.QuestionnaireViewModel.Name" />
                        <input type="hidden" name="questionCategoryId" value="@questionCategory.Id" />
                        <button class="btn btn-danger">Удалить</button>
                    </form>
                </th>
            </tr>
            @foreach (var question in questionCategory.Questions)
            {
                <tr>
                    <td>@question.Id</td>
                    <td>@question.Name</td>
                    <td>
                        <a class="btn btn-info"
                           asp-page="AnswersOnQuestion"
                           asp-route-questionId="@question.Id"
                           asp-route-questionnaireId="@Model.QuestionnaireViewModel.Id">
                            Ответы
                        </a>
                        <a class="btn btn-warning"
                           asp-page="QuestionForm"
                           asp-route-questionId="@question.Id"
                           asp-route-questionCategoryId="@questionCategory.Id"
                           asp-route-questionnaireId="@questionCategory.QuestionnaireId">
                            Изменить
                        </a>
                        <form class="d-inline" method="post" asp-page-handler="RemoveQuestion">
                            <input type="hidden" name="questionnaireId" value="@Model.QuestionnaireViewModel.Id" />
                            <input type="hidden" name="questionnaireName" value="@Model.QuestionnaireViewModel.Name" />
                            <input type="hidden" name="questionId" value="@question.Id" />
                            <button class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>