@page
@model RecruitingStaff.WebApp.Pages.User.Questionnaires.QuestionFormModel
@{
}
<div class="row justify-content-center">
    <div class="col-7">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="@Model.QuestionViewModel.Id" />
            <input type="hidden" name="questionnaireId" value="@Model.QuestionnaireId" />
            <div class="form-group">
                <label>Вопрос</label>
                <textarea class="form-control" rows="3" asp-for="@Model.QuestionViewModel.Name">
                </textarea>
                <span asp-validation-for="@Model.QuestionViewModel.Name"></span>
            </div>
            @if (Model.QuestionViewModel.QuestionCategoryId == 0)
            {
                <div class="form-group">
                    <label>Категория вопроса</label>
                    <select class="custom-select" asp-for="@Model.QuestionViewModel.QuestionCategoryId" asp-items="@Model.QuestionCategories">
                    </select>
                </div>
                <a class="btn btn-dark float-left"
                   asp-page="ConcreteQuestionnaire"
                   asp-route-questionnaireId="@Model.QuestionnaireId">
                    Текущая анкета
                </a>
            }
            else
            {
                <input type="hidden" asp-for="@Model.QuestionViewModel.QuestionCategoryId" />
                <a class="btn btn-dark"
                   asp-page="ConcreteQuestionnaire"
                   asp-route-questionnaireId="@Model.QuestionnaireId">
                    Анкета
                </a>
            }
            <button class="btn btn-success float-right">Отправить</button>
        </form>
    </div>
</div>