@page
@model RecruitingStaff.WebApp.Pages.User.Questionnaires.QuestionnaireFormModel
@{
}
<div class="row justify-content-center">
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="@Model.QuestionnaireViewModel.Id" />
        <div class="form-group">
            <label>Наименование анкеты</label>
            <input class="form-control" asp-for="@Model.QuestionnaireViewModel.Name" />
            <span asp-validation-for="@Model.QuestionnaireViewModel.Name"></span>
        </div>
        <div class="form-group">
            <label>Вакансия</label>
            <select asp-items="@Model.QuestionnaireViewModel.VacanciesSelectList" asp-for="@Model.QuestionnaireViewModel.VacancyId"></select>
        </div>
        <div class="form-group">
            <label>Парсер</label>
            <select asp-items="@Model.QuestionnaireViewModel.ParserTypesSelectList" asp-for="@Model.QuestionnaireViewModel.ParserTypeIndex"></select>
        </div>
        <a class="btn btn-dark" asp-page="Questionnaires">Анкеты</a>
        <button class="btn btn-success float-right">Отправить</button>
    </form>
</div>