@page
@model RecruitingStaff.WebApp.Pages.User.ApplicationUsers.ApplicationUserFormModel
@{
    ViewData["Title"] = Model.AppUser.Email ?? "Новый пользователь";
}
<div class="row justify-content-center">
    <form method="post">
        <input type="hidden" asp-for="@Model.AppUser.Id" />
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label>Почта</label>
            <input type="email" class="form-control" asp-for="@Model.AppUser.Email" />
        </div>
        <span asp-validation-for="@Model.AppUser.Email"></span>
        <div class="form-group">
            <label>Пароль</label>
            <input type="password" class="form-control" asp-for="@Model.AppUser.Password" />
        </div>
        <span class="d-block mb-3" asp-validation-for="@Model.AppUser.Password"></span>
        <a class="btn btn-dark" asp-page="ApplicationUsers">Пользователи</a>
        <button class="btn btn-success">Отправить</button>
    </form>
</div>