@page
@model RecruitingStaff.WebApp.Pages.User.Candidates.CandidateQuestionnaires.CandidateQuestionnairesModel
@{
    ViewData["Title"] = "Привязанные анкеты";
}
<div class="row justify-content-center mb-3">
    <form class="form-inline" method="post" asp-page-handler="CreateCandidateQuestionnaire">
        <input type="hidden" name="candidateId" asp-for="@Model.CandidateId" />
        <select class="custom-select m-2"
                name="questionnaireId"
                asp-items="Model.AvailableVacancies"></select>
        <button class="btn btn-success m-2">Добавить привязку</button>
    </form>
    <a class="btn btn-dark m-2"
       asp-route-candidateId="@Model.CandidateId"
       asp-page="/User/Candidates/ConcreteCandidate">Кандидат</a>
</div>
<div class="row justify-content-center">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col"><h5>Id</h5></th>
                <th scope="col"><h5>Имя анкеты</h5></th>
                <th scope="col"><h5>Парсинг</h5></th>
                <th scope="col"><h5>Действия</h5></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var candidateQuestionnaireViewModel in Model.CandidateQuestionnaireViewModels)
            {
                <tr>
                    <th scope="row">@candidateQuestionnaireViewModel.Id</th>
                    <td>@candidateQuestionnaireViewModel.QuestionnaireName</td>

                    @if (candidateQuestionnaireViewModel.IsParsed)
                    {
                        <td>Да</td>
                    }
                    else
                    {
                        <td>Нет</td>
                    }
                    <td>
                        <form method="post">
                            <input type="hidden"
                                   name="candidateId"
                                   asp-for="@candidateQuestionnaireViewModel.FirstEntityId" />
                            <input type="hidden"
                                   name="candidateQuestionnaireId"
                                   asp-for="@candidateQuestionnaireViewModel.Id" />
                            <button class="btn btn-danger m-1">Удалить</button>
                        </form>
                        <a class="btn btn-dark m-1"
                           asp-page="/User/Files/CompletedQuestionnaireParse"
                           asp-page-handler="ParseQuestionnaireCompletedByCandidate"
                           asp-route-candidateId="@candidateQuestionnaireViewModel.FirstEntityId"
                           asp-route-questionnaireId="@candidateQuestionnaireViewModel.SecondEntityId">
                            Парсинг анкеты с ответами
                        </a>
                        @if (candidateQuestionnaireViewModel.IsParsed)
                        {
                            <a class="btn btn-outline-success m-1"
                               asp-page-handler="DownloadDocument"
                               asp-route-candidateId="@candidateQuestionnaireViewModel.FirstEntityId"
                               asp-route-fileName="@candidateQuestionnaireViewModel.FileName">Скачать</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>