@page
@model RecruitingStaffWebApp.Pages.User.Vacancies.VacanciesModel
@{
    ViewData["Title"] = "Вакансии";
}
<div class="row justify-content-center">
    <div class="col-9">
        <a class="btn btn-info mb-3" asp-page="VacancyForm">Создать вакансию</a>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Название вакансии</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var vacancy in Model.Vacancies)
            {
                <tr>
                    <td>@vacancy.Id</td>
                    <td>@vacancy.Name</td>
                    <td>@vacancy.Description</td>
                </tr>
            }
        </tbody>
    </table>
    @foreach (var vacancy in Model.Vacancies)
    {
        <div class="col-9 mb-3 border border-dark rounded">
            <a class="m-3 text-decoration-none text-dark" asp-page="ConcreteVacancy" asp-route-vacancyId="@vacancy.Id">
                <h4>@vacancy.Name</h4>
                <p>@vacancy.Description</p>
            </a>
            <a class="btn btn-warning m-2 d-inline" asp-page="VacancyForm" asp-route-vacancyId="@vacancy.Id">Изменить</a>
            <form class="d-inline" method="post">
                <input type="hidden" name="vacancyId" value="@vacancy.Id" />
                <button class="btn btn-danger m-2 d-inline">Удалить</button>
            </form>
        </div>
    }
</div>