@page
@model RecruitingStaffWebApp.Pages.User.Vacancies.VacanciesModel
@{
    ViewData["Title"] = "Вакансии";
}
<div class="row justify-content-center">
    @foreach (var vacancy in Model.Vacancies)
    {
        <div class="col-12">
            <h4>@vacancy.Name</h4>
            <p>@vacancy.Description</p>
            @if (vacancy.Responsibilities != null)
            {
                <h6>Требования:</h6>
                <ol title="Требования">
                    @foreach (var responsibility in vacancy.ResponsibilitiesList)
                    {
                        <li>@responsibility</li>
                    }
                </ol>
            }
            @if (vacancy.Requirements != null)
            {
                <h6>Обязанности:</h6>
                <ol title="Обзязанности">
                    @foreach (var requirement in vacancy.ReuirementsList)
                    {
                        <li>@requirement</li>
                    }
                </ol>
            }
            @if (vacancy.WorkingConditions != null)
            {
                <h6>Рабочие условия:</h6>
                <ol title="Рабочие условия">
                    @foreach (var workingCondition in vacancy.WorkingConditionsList)
                    {
                        <li>@workingCondition</li>
                    }
                </ol>
            }
        </div>

    }
</div>