@page
@model RecruitingStaff.WebApp.Pages.User.Candidates.CandidateAnswersModel
@{
    ViewData["Title"] = "Ответы пользователя";
}
<div class="row justify-content-center mb-3">
    <a class="btn btn-dark" asp-page="ConcreteCandidate" asp-route-candidateId="@Model.CandidateId">Кандидат</a>
</div>
<div class="row justify-content-center">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Ответ</th>
                <th>Оценка</th>
                <th>Комментарий</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var answer in Model.Answers)
            {
                <tr>
                    <td>@answer.Name</td>
                    <td>@answer.Estimation</td>
                    <td>@answer.Comment</td>
                    <td>
                        <a class="btn btn-primary mb-2" asp-page="CommentAnswerForm"
                           asp-route-answerId="@answer.Id"
                           asp-route-candidateId="@answer.CandidateId">Комментировать</a>
                        <form class="d-inline" method="post">
                            <input type="hidden" name="answerId" value="@answer.Id" />
                            <input type="hidden" name="candidateId" value="@answer.CandidateId" />
                            <button class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>