@page
@model RecruitingStaffWebApp.Pages.User.Candidates.ChangeCandidateModel
@{
    ViewData["Title"] = Model.CandidateViewModel.Name;
}
@section Styles {
    <link rel="stylesheet" href="~/css/interface elements/select.css">
}
@await Html.PartialAsync("Views/CandidateForm", Model.CandidateViewModel)
@section Scripts {
    <script src="~/js/interface elements/select.js"></script>
}
@*<div class="row justify-content-center">
    <div class="col-5">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="@Model.CandidateViewModel.Id" />
            <div class="form-group">
                <label class="col-form-label">Полное имя</label>
                <input class="form-control" asp-for="@Model.CandidateViewModel.Name" />
                <span asp-validation-for="@Model.CandidateViewModel.Name"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Дата рождения</label>
                <input class="form-control" asp-for="@Model.CandidateViewModel.DateOfBirth" />
                <span asp-validation-for="@Model.CandidateViewModel.DateOfBirth"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Адрес</label>
                <input class="form-control" asp-for="@Model.CandidateViewModel.Address" />
                <span asp-validation-for="@Model.CandidateViewModel.Address"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Номер телефона</label>
                <input class="form-control" asp-for="@Model.CandidateViewModel.TelephoneNumber" />
                <span asp-validation-for="@Model.CandidateViewModel.TelephoneNumber"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Почта</label>
                <input class="form-control" asp-for="@Model.CandidateViewModel.EmailAddress" />
                <span asp-validation-for="@Model.CandidateViewModel.EmailAddress"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Семейное положение</label>
                <input class="form-control" asp-for="@Model.CandidateViewModel.MaritalStatus" />
                <span asp-validation-for="@Model.CandidateViewModel.MaritalStatus"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Название анкеты</label>
                <select name="questionnaireId" class="custom-select" asp-items="@Model.Questionnaires"></select>
            </div>
            <div class="form-group">
                <label class="col-form-label">Файл анкеты</label>
                <input type="file" class="custom-file" name="formFile" />
            </div>
            <a class="btn btn-dark"
               asp-page="/User/ConcreteCandidate"
               asp-route-CandidateId="@Model.CandidateViewModel.Id">
                Кандидат
            </a>
            <a class="btn btn-dark"
               asp-page="Candidates">
                Список
            </a>
            <button class="btn btn-success float-right">Отправить</button>
        </form>
    </div>
</div>*@