@page
@model RecruitingStaff.WebApp.Pages.User.Candidates.AnswerEvaluationFormModel
@{
    ViewData["Title"] = "Оценка ответа";
}
<div class="row justify-content-center">
    <form method="post">
        <input type="hidden" asp-for="@Model.AnswerViewModel.Id" />
        <input type="hidden" asp-for="@Model.AnswerViewModel.CandidateId" />
        <input type="hidden" asp-for="@Model.AnswerViewModel.Name" />
        <input type="hidden" asp-for="@Model.AnswerViewModel.Estimation" />
        <input type="hidden" asp-for="@Model.AnswerViewModel.QuestionId" />
        <div class="form-group">
            <label>Комментарий</label>
            <textarea class="form-control" asp-for="@Model.AnswerViewModel.Comment" rows="4"></textarea>
            <span asp-validation-for="@Model.AnswerViewModel.Comment"></span>
        </div>
        <div class="form-group">
            <label>Оценки</label>
            <input type="number" min="0" max="5" asp-for="@Model.AnswerViewModel.Estimation" />
            <span asp-validation-for="@Model.AnswerViewModel.Estimation"></span>
        </div>
        <a class="btn btn-dark" asp-page="CandidateAnswers" asp-route-candidateId="@Model.AnswerViewModel.CandidateId">Ответы кандидаты</a>
        <button class="btn btn-success">Отправить</button>
    </form>
</div>