@page
@model RecruitingStaffWebApp.Pages.User.Candidates.OptionFormModel
@{
    ViewData["Title"] = Model.OptionViewModel.Name;
}
<div class="row justify-content-center">
    <div class="col-5">
        <form method="post">
            @if (Model.OptionViewModel.CandidateId != null)
            {
                <input type="hidden" asp-for="@Model.OptionViewModel.CandidateId" />
            }
            <div class="form-group">
                <label class="col-form-label">Имя свойства</label>
                @if (Model.OptionViewModel.Name == "")
                {
                    <input class="form-control" asp-for="@Model.OptionViewModel.Name" />
                }
                else
                {
                    <input class="form-control" asp-for="@Model.OptionViewModel.Name" readonly />
                }
                <span asp-validation-for="@Model.OptionViewModel.Name"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Значение свойства</label>
                <textarea class="form-control" rows="5" asp-for="@Model.OptionViewModel.Value">
                    @Model.OptionViewModel.Value
                </textarea>
                <span asp-validation-for="@Model.OptionViewModel.Value"></span>
            </div>
            @if (Model.OptionViewModel.CandidateId == null)
            {
                <a class="btn btn-dark"
                   asp-page="/User/Candidates/Candidates">
                    Список
                </a>
            }
            else
            {
                <a class="btn btn-dark"
                   asp-page="/User/Candidates/ConcreteCandidate"
                   asp-route-CandidateId="@Model.OptionViewModel.CandidateId.Value">
                    Текущий кандидат
                </a>
                <a class="btn btn-dark"
                   asp-page="/User/Candidates/Candidates">
                    Список
                </a>
            }
            <button class="btn btn-outline-dark float-right">Отправить</button>
        </form>
    </div>
</div>