@page
@model RecruitingStaffWebApp.Pages.User.Candidates.OptionFormModel
@{
    ViewData["Title"] = Model.Option.PropertyName;
}
<div class="row justify-content-center">
    <div class="col-5">
        <form method="post">
            @if (Model.Option.CandidateId != null)
            {
                <input type="hidden" asp-for="@Model.Option.CandidateId" />
            }
            <div class="form-group">
                <label class="col-form-label">Имя свойства</label>
                @if (Model.Option.PropertyName == "")
                {
                    <input class="form-control" asp-for="@Model.Option.PropertyName" />
                }
                else
                {
                    <input class="form-control" asp-for="@Model.Option.PropertyName" readonly />
                }
                <span asp-validation-for="@Model.Option.PropertyName"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Значение свойства</label>
                <textarea class="form-control" rows="5" asp-for="@Model.Option.Value">
                    @Model.Option.Value
                </textarea>
                <span asp-validation-for="@Model.Option.Value"></span>
            </div>
            @if (Model.Option.CandidateId == null)
            {
                <a class="btn btn-dark" asp-page="/User/Сontenders">Назад</a>
            }
            else
            {
                <a class="btn btn-dark"
                   asp-page="/User/ConcreteCandidate"
                   asp-route-CandidateId="@Model.Option.CandidateId.Value">
                    Текущий кандидат
                </a>
                <a class="btn btn-dark"
                   asp-page="/User/Candidates">
                    Список
                </a>
            }
            <button class="btn btn-outline-dark float-right">Отправить</button>
        </form>
    </div>
</div>