@page
@model RecruitingStaff.WebApp.Pages.User.Files.FilesModel
@{
    ViewData["Title"] = "Файлы";
}
<div class="row justify-content-center mb-3">
    <div class="col-9">
        <a class="btn btn-dark" asp-page="QuestionnaireExampleParse">Парсинг пустой анкеты</a>
        <a class="btn btn-dark" asp-page="CompletedQuestionnaireParse">Парсинг заполненной анкеты</a>
        <a class="btn btn-dark" asp-page="TestTaskForm">Добавить тестовое заданиеe</a>
        <a class="btn btn-dark" asp-page="CandidatePhotoForm">Добавить фото</a>
    </div>
    <div class="col-3">
        <form method="post">
            <div class="form-group">
                <select class="custom-select" name="fileType" asp-items="@Model.FileTypes">
                </select>
            </div>
            <button class="btn btn-dark">Фильтровать</button>
        </form>
    </div>
</div>
<div class="row justify-content-center">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col"><h5>Id</h5></th>
                <th scope="col"><h5>Имя</h5></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.Files)
            {
                <tr>
                    <td>@file.Id</td>
                    <td>@file.Name</td>
                    <td>
                        <a class="btn btn-warning" asp-page="ChangeFile" asp-route-fileId="@file.Id">Изменить</a>
                        <form class="d-inline" method="post" asp-page-handler="Remove">
                            <input type="hidden" name="selectedFileType" value="@Model.SelectedFileType" />
                            <input type="hidden" name="fileId" value="@file.Id" />
                            <button class="btn btn-danger">Удалить</button>
                        </form>
                        <a class="btn btn-success"
                        asp-page-handler="DownloadFile"
                        asp-route-fileId="@file.Id"
                    asp-route-fileType="@Model.SelectedFileType">Скачать</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>