@page
@model RecruitingStaffWebApp.Pages.User.CandidatesModel
@using RecruitingStaff.Domain.Model.CandidateQuestionnaire;
@using RecruitingStaff.Domain.Model;
@{
    var newCandidate = new Candidate();
    ViewData["Title"] = "Кандидаты";
}
<div class="row justify-content-center">
    <form class="form-inline mb-3" method="post" enctype="multipart/form-data">
        <input class="form-control m-2" placeholder="Полное имя" asp-for="@newCandidate.FullName" />
        <input class="form-control m-2" min="1900-01-01" value="1990-01-01" type="date" asp-for="@newCandidate.DateOfBirth" />
        <input class="form-control m-2" placeholder="Адрес" asp-for="@newCandidate.Address" />
        <input class="form-control-file w-auto d-inline m-2" type="file" accept=".doc, .docx" name="uploadedFile" />
        <button class="btn btn-dark">Новый кандидат</button>
    </form>
    <p class="text-danger">@Model.MessageAboutDocumentsSource</p>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col"><h5>Id</h5></th>
                <th scope="col"><h5>Полное имя</h5></th>
                <th scope="col"><h5>Дата рождения</h5></th>
                <th scope="col"><h5>Адрес</h5></th>
                <th scope="col"><a class="btn btn-dark" asp-page="OptionForm" asp-route-propertyName="@OptionTypes.DocumentsSource">Указать расположение документов</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Candidate in Model.Candidates)
            {
                <tr>
                    <th scope="row">@Candidate.Id</th>
                    <td>@Candidate.FullName</td>
                    <td>@Candidate.DateOfBirth.ToString("d")</td>
                    <td>@Candidate.Address</td>
                    <td>
                        <a class="btn btn-dark" asp-page="ConcreteCandidate" asp-route-CandidateId="@Candidate.Id">Перейти</a>
                        <form class="d-inline" method="post" asp-page-handler="Remove">
                            <input type="hidden" name="CandidateId" value="@Candidate.Id" />
                            <button class="btn btn-danger text-white ml-3">Удалить</button>
                        </form>
                        <div class="dropdown d-inline">
                            <button class="btn btn-primary dropdown-toggle ml-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Свойства
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @foreach (var option in Candidate.Options)
                                {
                                    if (option.Value.Length > 30)
                                    {
                                        <a class="dropdown-item"
                                           asp-page="OptionForm"
                                           asp-route-CandidateId="@option.CandidateId"
                                           asp-route-propertyName="@option.PropertyName">
                                            @option.PropertyName
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item"
                                           asp-page="OptionForm"
                                           asp-route-CandidateId="@option.CandidateId"
                                           asp-route-propertyName="@option.PropertyName"
                                           asp-route-value="@option.Value">
                                            @option.PropertyName
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>