@page
@model RecruitingStaffWebApp.Pages.User.CandidatesModel
@using RecruitingStaff.Domain.Model.CandidateQuestionnaire;
@using RecruitingStaff.Domain.Model;
@{
    var newCandidate = new Candidate();
    ViewData["Title"] = "Кандидаты";
}
<div class="row justify-content-center">
    <a class="btn btn-dark">Новая вакансия</a>
    <a class="btn btn-dark">Новый кандидат</a>
    <a class="btn btn-dark">Новая анкета</a>
    <a class="btn btn-dark" asp-page="/User/Files/DocumentForm">Добавить документ</a>
</div>
<div class="row justify-content-center">
    <p class="text-danger">@Model.MessageAboutDocumentsSource</p>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col"><h5>Id</h5></th>
                <th scope="col"><h5>Полное имя</h5></th>
                <th scope="col"><h5>Дата рождения</h5></th>
                <th scope="col"><h5>Адрес</h5></th>
                <th scope="col"><h5>Номер телефона</h5></th>
                <th scope="col"><h5>Семейное положение</h5></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Candidate in Model.Candidates)
            {
                <tr>
                    <th scope="row">@Candidate.Id</th>
                    <td>@Candidate.FullName</td>
                    <td>@Candidate.DateOfBirth.ToString("d")</td>
                    <td>@Candidate.Address</td>
                    <td>@Candidate.TelephoneNumber</td>
                    <td>@Candidate.MaritalStatus</td>
                    <td>
                        <a class="btn btn-dark d-block" asp-page="ConcreteCandidate" asp-route-CandidateId="@Candidate.Id">Перейти</a>
                        <form class="d-inline" method="post" asp-page-handler="Remove">
                            <input type="hidden" name="CandidateId" value="@Candidate.Id" />
                            <button class="btn btn-danger text-white d-block mt-3">Удалить</button>
                        </form>
                        <div class="dropdown d-inline">
                            <button class="btn btn-primary dropdown-toggle mt-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Свойства
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @foreach (var option in Candidate.Options)
                                {
                                    if (option.Value.Length > 30)
                                    {
                                        <a class="dropdown-item"
                                           asp-page="OptionForm"
                                           asp-route-CandidateId="@option.CandidateId"
                                           asp-route-propertyName="@option.PropertyName">
                                            @option.PropertyName
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item"
                                           asp-page="OptionForm"
                                           asp-route-CandidateId="@option.CandidateId"
                                           asp-route-propertyName="@option.PropertyName"
                                           asp-route-value="@option.Value">
                                            @option.PropertyName
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>