@page
@model RecruitingStaffWebApp.Pages.User.ChangeCandidateModel
@{
}
<div class="row justify-content-center">
    <form method="post">
        <input type="hidden" asp-for="@Model.Candidate.Id" />
        <div class="form-group">
            <label class="col-form-label" asp-for="@Model.Candidate.FullName"></label>
            <input class="form-control" asp-for="@Model.Candidate.FullName" />
            <span asp-validation-for="@Model.Candidate.FullName"></span>
        </div>
        <div class="form-group">
            <label class="col-form-label" asp-for="@Model.Candidate.DateOfBirth"></label>
            <input class="form-control" asp-for="@Model.Candidate.DateOfBirth" />
            <span asp-validation-for="@Model.Candidate.DateOfBirth"></span>
        </div>
        <div class="form-group">
            <label class="col-form-label" asp-for="@Model.Candidate.Address"></label>
            <input class="form-control" asp-for="@Model.Candidate.Address" />
            <span asp-validation-for="@Model.Candidate.Address"></span>
        </div>
        <button class="btn btn-dark">Отправить</button>
    </form>
</div>