@page
@model RecruitingStaffWebApp.Pages.User.ConcreteCandidateModel
@{
    ViewData["Title"] = Model.Candidate.FullName;
}
<div class="row justify-content-start">
    <div class="col-9">
        <h2>@Model.Candidate.FullName</h2>
        <p>Дата рождения: @Model.Candidate.DateOfBirth.ToString("D")</p>
        <p>Адрес места жительства: @Model.Candidate.Address</p>
    </div>
    <div class="col-1">
        <a class="btn btn-dark" asp-page="/User/Сontenders">Назад</a>
    </div>
    <div class="col-1">
        <a class="btn btn-dark" asp-page="/User/ChangeCandidate" asp-route-CandidateId="@Model.Candidate.Id">Изменить</a>
    </div>
</div>
    <div class="row justify-content-start">
        <div class="col-12">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th><h5>Имя свойства</h5></th>
                        <th><h5>Значение свойства</h5></th>
                        <th>
                            <a class="btn btn-outline-dark font-weight-normal"
                               asp-page="OptionForm"
                               asp-route-CandidateId="@Model.Candidate.Id">
                                Добавить
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var option in Model.Candidate.Options)
                    {
                        <tr>
                            <td>@option.PropertyName</td>
                            <td>@option.Value</td>
                            <td>
                                @if (@option.Value.Count() > 30)
                                {
                                    <a class="btn btn-dark"
                                       asp-page="OptionForm"
                                       asp-route-propertyName="@option.PropertyName"
                                       asp-route-CandidateId="@option.CandidateId">
                                        Изменить
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-dark"
                                       asp-page="OptionForm"
                                       asp-route-propertyName="@option.PropertyName"
                                       asp-route-CandidateId="@option.CandidateId"
                                       asp-route-value="@option.Value">
                                        Изменить
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>