@page
@model RecruitingStaffWebApp.Pages.User.ConcreteContenderModel
@{
    ViewData["Title"] = Model.Contender.FullName;
}
<div class="row justify-content-start">
    <div class="col-9">
        <h2>@Model.Contender.FullName</h2>
        <p>Дата рождения: @Model.Contender.DateOfBirth.ToString("D")</p>
        <p>Адрес места жительства: @Model.Contender.Address</p>
    </div>
    <div class="col-3">
        <a class="btn btn-dark" asp-page="/User/Сontenders">Список кандидатов</a>
    </div>
</div>
    <div class="row justify-content-start">
        <div class="col-12">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th><h5>Имя свойства</h5></th>
                        <th><h5>Значение свойства</h5></th>
                        <th>
                            <a class="btn btn-dark font-weight-normal"
                               asp-page="OptionForm"
                               asp-route-contenderId="@Model.Contender.Id">
                                Добавить свойство
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var option in Model.Contender.Options)
                    {
                        <tr>
                            <td>@option.PropertyName</td>
                            <td>@option.Value</td>
                            <td>
                                <a class="btn btn-dark"
                                   asp-page="OptionForm"
                                   asp-route-propertyName="@option.PropertyName"
                                   asp-route-contenderId="@option.ContenderId"
                                   asp-route-value="@option.Value">
                                    Изменить
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>